main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.link {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: calc(var(--design-unit) * 2px);
}

.link .codicon {
  margin-right: calc(var(--design-unit) * 2px);
  vertical-align: -3px;
}

.container {
  padding-bottom: calc(var(--design-unit) * 15px);
}

.chat-box {
  position: fixed;
  bottom: calc(var(--design-unit) * 2px);
  left: calc(var(--design-unit) * 2px);
  width: calc(100% - var(--design-unit) * 4px);
  background-color: var(--background);
}

.chat-box .send {
  position: absolute;
  padding: calc(var(--design-unit) * 2px);
  top: calc(var(--design-unit) * 0.3px);
  right: 0;
  width: calc(var(--design-unit) * 4px);
  height: calc(var(--design-unit) * 4px);
  color: var(--input-foreground);
  z-index: 100;
  cursor: pointer;
}

.chat-box .text {
  width: 100%;
}

.chat-box .text::part(control) {
  padding-right: calc(var(--design-unit) * 8px);
}
