main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat-box .send {
  position: absolute;
  padding: calc(var(--design-unit) * 2px);
  right: 0;
  width: calc(var(--design-unit) * 4px);
  height: calc(var(--design-unit) * 4px);
  color: var(--input-foreground);
  z-index: 100;
}

.chat-box .text {
  width: 100%;
}

.chat-box .text::part(control) {
  padding-right: calc(var(--design-unit) * 8px);
}
